// .example-card {
//     width: 400px;
//     margin: 20px;
//   }
  .profile-summary {
    font-family: Arial, sans-serif;
  }
  .profile-summary h2 {
    color: #333;
  }
  .profile-summary ul {
    list-style-type: disc;
    color: #555;
  }