
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Angular Firebase Authentication</span>
        <span class="example-spacer"></span>
        <div  style="display: flex; gap: 10px;">
        <button mat-raised-button color="accent" [routerLink]="['/login']">
          login
        </button>
        <button mat-raised-button color="accent">
          Logout
        </button>
        </div>
      </mat-toolbar>





<router-outlet></router-outlet>