<mat-toolbar color="primary">
  <div class="left">
    <button mat-icon-button [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
    </button>
    <span>Angular Firebase</span>
    <button style="margin-left: 8px;" mat-raised-button color="accent" [routerLink]="['/blog']">Blog</button>
  </div>

  <div class="right">
    <button *ngIf="!currentLoggedInUserEmail || loginButtonFlag" mat-raised-button color="accent"
      [routerLink]="['/login']">
      login
    </button>
    <button *ngIf="currentLoggedInUserEmail && logoutButtonFlag" mat-raised-button color="accent"
      (click)="confirmLogoutDialog()">
      Logout
    </button>
  </div>
  
</mat-toolbar>





<router-outlet></router-outlet>