mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar .left,
mat-toolbar .right {
  display: flex;
  align-items: center;
}

@media (max-width: 460px) {
  mat-toolbar {
    font-size: 1rem;
  }
}