
 .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
   }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  
  .mat-form-field {
    width: 100%;
    display: block;
  }
  