/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-bg-primary{
  background-color: #3f51b5 !important;
}


.component-content{
  display: flex;
  // margin: 0 auto;
  border: 1px solid rgb(236, 232, 232);
  padding: 20px;
  border-radius: 5px;
  // height: 92vh;
}
