<div class="mt-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card p-3">
          <div class="d-flex gap-3 flex-wrap">
            <div 
              class="badge text-bg-light filter-button"
              [ngClass]="{'btn btn-primary': selectedCategory === 'All'}"
              (click)="showAll()" >All</div>
            <div 
              class="badge text-bg-light filter-button"
              [ngClass]="{'btn btn-primary': selectedCategory === 'js'}"
              (click)="filterCategory('js')">JavaScript</div>
            <div 
              class="badge text-bg-light filter-button"
              [ngClass]="{'btn btn-primary': selectedCategory === 'angular'}"
              (click)="filterCategory('angular')">Angular</div>
            <div 
              class="badge text-bg-light filter-button"
              [ngClass]="{'btn btn-primary': selectedCategory === 'css'}"
              (click)="filterCategory('css')">CSS</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <div class="card mb-3" *ngFor="let box of boxes" [style.display]="box.visible ? 'block' : 'none'">
          <div class="card-body">
            <h2 class="card-title">{{ box.category }}</h2>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 mt-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#" (click)="previousPage()">Previous</a></li>
            <li class="page-item" *ngFor="let page of pages">
              <a class="page-link" href="#" (click)="goToPage(page)">{{ page }}</a>
            </li>
            <li class="page-item"><a class="page-link" href="#" (click)="nextPage()">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
