<div class="mt-3">
    <div class="card p-3">
      <div class="d-flex gap-3 flex-wrap">
        <div class="badge" (click)="showAll()" [ngClass]="selectedCategory === 'All' ? 'text-bg-primary' : 'text-bg-light'">All</div>
        <div class="badge" (click)="filterCategory('js')" [ngClass]="selectedCategory === 'js' ? 'text-bg-primary' : 'text-bg-light'">JavaScript</div>
        <div class="badge" (click)="filterCategory('angular')" [ngClass]="selectedCategory === 'angular' ? 'text-bg-primary' : 'text-bg-light'">
          Angular</div>
        <div class="badge" (click)="filterCategory('css')" [ngClass]="selectedCategory === 'css' ? 'text-bg-primary' : 'text-bg-light'">CSS</div>
      </div>
    </div>

    <div class="row mt-3">
        <div class="box" *ngFor="let box of boxes" [style.display]="box.visible ? 'block' : 'none'">
          <h2>{{ box.category }}</h2>
          <p>This is some content for {{ box.category }}.</p>
        </div>
      </div>
</div>
